USE [master]
GO
/****** Objeto: Database [AsisyaDB] Fecha de script: 14/05/2026 6:11:29 p. m. ******/
CREATE DATABASE AsisyaDB;
GO

USE AsisyaDB;
GO
WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AsisyaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AsisyaDB]
GO
/****** Objeto: Table [dbo].[Categories] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Picture] [nvarchar](500) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Products] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NOT NULL,
	[QuantityPerUnit] [nvarchar](100) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[UnitsInStock] [int] NULL,
	[UnitsOnOrder] [int] NULL,
	[ReorderLevel] [int] NULL,
	[Discontinued] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Users] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT INTO Users
(
    Username,
    PasswordHash
)
VALUES
(
    'prueba',
    'prueba'
);
GO


ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Discontinued]  DEFAULT ((0)) FOR [Discontinued]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
/****** Objeto: StoredProcedure [dbo].[sp_ActualizarProducto] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProducto]
(
    @ProductID INT,
    @ProductName NVARCHAR(200),
    @SupplierID INT = NULL,
    @CategoryID INT,
    @QuantityPerUnit NVARCHAR(100) = NULL,
    @UnitPrice DECIMAL(18,2) = NULL,
    @UnitsInStock INT = NULL,
    @UnitsOnOrder INT = NULL,
    @ReorderLevel INT = NULL,
    @Discontinued BIT
)
AS
BEGIN

    SET NOCOUNT ON;

    UPDATE Products
    SET
        ProductName = @ProductName,
        SupplierID = @SupplierID,
        CategoryID = @CategoryID,
        QuantityPerUnit = @QuantityPerUnit,
        UnitPrice = @UnitPrice,
        UnitsInStock = @UnitsInStock,
        UnitsOnOrder = @UnitsOnOrder,
        ReorderLevel = @ReorderLevel,
        Discontinued = @Discontinued
    WHERE ProductID = @ProductID;

    SELECT @@ROWCOUNT AS RowsAffected;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearCategoria] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearCategoria]
(
    @CategoryName NVARCHAR(100),
    @Description NVARCHAR(500) = NULL,
    @Picture NVARCHAR(MAX) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    INSERT INTO Categories
    (
        CategoryName,
        Description,
        Picture
    )
    VALUES
    (
        @CategoryName,
        @Description,
        @Picture
    );

        SELECT SCOPE_IDENTITY() AS CategoryID;


END
GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearProducto] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearProducto]
(
    @ProductName NVARCHAR(200),
    @SupplierID INT = NULL,
    @CategoryID INT,
    @QuantityPerUnit NVARCHAR(100) = NULL,
    @UnitPrice DECIMAL(18,2) = NULL,
    @UnitsInStock INT = NULL,
    @UnitsOnOrder INT = NULL,
    @ReorderLevel INT = NULL,
    @Discontinued BIT
)
AS
BEGIN

    SET NOCOUNT ON;

    INSERT INTO Products
    (
        ProductName,
        SupplierID,
        CategoryID,
        QuantityPerUnit,
        UnitPrice,
        UnitsInStock,
        UnitsOnOrder,
        ReorderLevel,
        Discontinued
    )
    VALUES
    (
        @ProductName,
        @SupplierID,
        @CategoryID,
        @QuantityPerUnit,
        @UnitPrice,
        @UnitsInStock,
        @UnitsOnOrder,
        @ReorderLevel,
        @Discontinued
    );

    SELECT SCOPE_IDENTITY() AS ProductID;

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_EliminarProducto] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
(
    @ProductID INT
)
AS
BEGIN

    SET NOCOUNT ON;

    DELETE FROM Products
    WHERE ProductID = @ProductID

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_GetUser] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUser]
    @Username NVARCHAR(100),
    @PasswordHash NVARCHAR(500)
AS
BEGIN

    SELECT
        Id,
        Username
    FROM Users
    WHERE Username = @Username
    AND PasswordHash = @PasswordHash

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListadoProductos] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListadoProductos]
(
    @ProductName NVARCHAR(200) = NULL,
    @CategoryName NVARCHAR(100) = NULL,
    @SupplierID INT = NULL,
    @Discontinued BIT = NULL,

    @PageNumber INT = 1,
    @PageSize INT = 10
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        p.ProductID,
        p.ProductName,
        p.SupplierID,
        p.CategoryID,
        c.CategoryName,
        p.QuantityPerUnit,
        p.UnitPrice,
        p.UnitsInStock,
        p.UnitsOnOrder,
        p.ReorderLevel,
        p.Discontinued
    FROM Products p
    INNER JOIN Categories c
        ON p.CategoryID = c.CategoryID

    WHERE
    (
        @ProductName IS NULL
        OR p.ProductName LIKE '%' + @ProductName + '%'
    )

    AND
    (
        @CategoryName IS NULL
        OR c.CategoryName LIKE '%' + @CategoryName + '%'
    )

    AND
    (
        @SupplierID IS NULL
        OR p.SupplierID = @SupplierID
    )

    AND
    (
        @Discontinued IS NULL
        OR p.Discontinued = @Discontinued
    )

    ORDER BY p.ProductID

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerProductoPorId] Fecha de script: 14/05/2026 6:11:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerProductoPorId]
(
    @ProductID INT
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        p.ProductID,
        p.ProductName,
        p.SupplierID,
        p.CategoryID,
        c.CategoryName,
        c.Picture,
        p.QuantityPerUnit,
        p.UnitPrice,
        p.UnitsInStock,
        p.UnitsOnOrder,
        p.ReorderLevel,
        p.Discontinued
    FROM Products p
    INNER JOIN Categories c
        ON p.CategoryID = c.CategoryID
    WHERE p.ProductID = @ProductID

END
GO
USE [master]
GO


